/* Large screens (lg and above) */
@media (min-width: 992px) {
    .sidebar {
      position: fixed;
      top: 75px; 
       right:40px;
      max-width: 350px; 
      
    }
  }
  
  /* Medium and small screens (md and below) */
  @media (max-width: 991.98px) {
    .sidebar {
      width: 100%; 
      margin-top: 20px; /* Optional: add some spacing */
    }
  }
 