/* Large screens (lg and above) */
@media (min-width: 992px) {
    .sidebar {
      position: sticky;
      top: 75px; 
       right:40px;
      max-width: 350px; 
      bottom: 500px; /* Ensures the sidebar is always 500px from the bottom */
      height: calc(100vh - 75px - 500px); /* Adjusts height to fit the viewport between top and bottom */
      
    }
  }
  
  /* Medium and small screens (md and below) */
  @media (max-width: 991.98px) {
    .sidebar {
      width: 100%; 
      margin-top: 20px; /* Optional: add some spacing */
    }
  }
 