h1{
    font-size: 40px;
}
h2{
    font-size: 16px;
}
h4{
    font-size: 15px;
    color: #6a6f73;
    margin-bottom: .8rem;
}
.container{
    width: 85% !important;
}
.ins{
    
    margin-left: 5px;
    background-color:  #c0c4fc!important;
}
.details h2{
    font-size: 19px;
    font-weight: bold;
}
.ins-info{
    max-height: 40vh !important; 
}
