
  @media (min-width: 992px) {
    #country {
      width: 50%;
    }
  }

  @media (max-width: 991.98px) {
    #country {
      width: 100%;
    }
  }
  .checkout-course-img {
    width: 40px; 
    height: 40px;
    object-fit: cover; 

  }
  
 