.iconSearchBar{
    position: relative;
    bottom: 30px;
    left: 16px;
    color: var(--secondaryColor);
}

/* Pagination container */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Pagination buttons */
.pagination button {
    background-color: var(--secondaryColor);
    border: 1px solid var(--secondaryColor);
    color: white;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s, border-color 0.3s;
}

/* Pagination buttons hover effect */
.pagination button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

/* Active page button */
.pagination button.active {
    background-color: var(--thirdColor);
    border-color: var(--thirdColor);
    font-weight: bold;
}

/* Disabled button */
.pagination button:disabled {
    background-color: #e0e0e0;
    border-color: #e0e0e0;
    color: #a0a0a0;
    cursor: not-allowed;
}


