.dropdown-style{
    background-color: white;
    width: 25%;
    padding: 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:105%;
    z-index: 2;
}
.dropdown-style li:hover{
    background-color: var(--thirdColor);
}

.button-style{
    border: 1px solid black;
    background-color: transparent;
    border-radius: 10px;
}

.change-btn-style{
    background-color: var(--mainColor);
    color: white;
    transition: 0.3s all;
}