.dropdown-style{
    background-color: white;
    width: 25%;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:105%;
    z-index: 2;
}
.dropdown-style:hover{
    background-color: var(--thirdColor);
}

.btn-hover-style:hover{
    background-color: var(--mainColor);
}